<nav class="navbar navbar-dropdown fixed-top navbar-expand-lg nav1">
    <div class="container-fluid">
        <div class="navbar-brand">
            <div class="col-lg-auto">
                <span class="navbar-caption-wrap">
                    <a class="navbar-caption text-white display-7" href="#">
                        <img src="assets/icon2.jpg" alt="" width="auto" height="auto">
                    </a>
                </span>
            </div>
        </div>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <div class="hamburger">
                <span class="line"></span>
                <span class="line"></span>
                <span class="line"></span>
                <span class="line"></span>
            </div>
        </button>
        <div class="collapse navbar-collapse col-lg-auto" id="navbarSupportedContent">
            <ul class="navbar-nav nav-dropdown ml-auto" data-app-modern-menu="true">
                <li class="nav-item pr-5">
                    <a class="nav-link link text-white display-7" href="#"
                        style="font-family: 'Brush Script MT', cursive; font-size: large;">
                        Home
                    </a>
                </li>
                <li class="nav-item pr-5">
                    <a class="nav-link link text-white display-7" href="#"
                        style="font-family: 'Brush Script MT', cursive; font-size: large;">
                        Book Online
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link link text-white display-7" href="#"
                        style="font-family: 'Brush Script MT', cursive; font-size: large;">
                        Blog
                    </a>
                </li>
                <li class="nav-item dropdown">
                    <!-- <a class="nav-link link text-white dropdown-toggle display-7"
                                href="#" data-toggle="dropdown-submenu" aria-expanded="false">
                                Dropdown</a>
                            <div class="dropdown-menu"><a class="text-white dropdown-item display-7"
                                    href="#">dropdown1</a><a
                                    class="text-white dropdown-item display-7" href="#"
                                    aria-expanded="false">dropdown2</a><a class="text-white dropdown-item display-7"
                                    href="#" aria-expanded="false">dropdown3</a><a
                                    class="text-white dropdown-item display-7" href="#"
                                    aria-expanded="false">dropdown4</a>
                            </div> -->
                </li>
                <li class="nav-item">
                    <!-- <a class="nav-link link text-white display-7" href="#">
                                Rules</a> -->
                </li>
            </ul>

            <div class="navbar-buttons mbr-section-btn col-lg-auto">
                <!-- <a
                            class="btn btn-sm btn-primary-outline display-4"
                            href="#">Register</a> <a
                            class="btn btn-sm btn-primary display-4" href="#">Log
                            In
                        </a> -->
            </div>
        </div>
    </div>
</nav>